@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');



body{
    background-color: #AED581;
    font-family: Oxygen, sans-serif;
    padding: 30px;
    margin: 20px;
    display: block;

}



header{
    background: ghostwhite;
    /*height: 80px;*/
    /*font-size: 30px;*/
    /*padding: 20px;*/
    padding: 5px;
    font-style: italic;
    margin:0 auto;

}

main{
    /* allows everything in main to wrap */
    padding-top: 30px;
    display: flex;
    /*padding: 30px;*/
}

aside{
    background: ghostwhite;
    width: 20%;
    margin-right: 30px;
}

figure{
    text-align: center;
    /*width: 70%;*/
    padding: 20px;
}
figure > img {
    width: 100%;  /* this way don't have to work on centering with its div*/
}

#scientific-name{
    text-align: right;
    font-size:20px;
    font-style: italic;
    font-weight: bold;
}

section{
    background-color: black;
    padding: 40px;
}

h2{
    background: ghostwhite;

}

p{
    background: ghostwhite;
    font-size:30px;
}

/*h2{*/
/*    text-align: center;*/
/*}*/

article{
    /*display: flex;*/
    background: ghostwhite;
    /*justify-content:space-between;*/
}

article > img {
    height: 100px;


}


