body{
    margin: 0 auto;
    text-align: center;
}
#menu-view{
padding-left: 5%;
padding-right: 5%;


}

#purple-frame{
    background-color: #6F77ED;
    border: 5px solid black;
    border-radius: .35em;
    padding-bottom: 1%;
    color:white;
}
