h2 {
    font-size: 16pt;
    text-decoration: underline;
}

main, h1 {
    text-align: center;
}

.add-shadow {
    box-shadow: 6px 6px #636363;
}

.hidden {
    display: none;
}

.card {
    width: 220px;
    height: 95px;
    border: 0.35em solid black;
    border-radius: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.card, .card > img, #details, #game {
    display: flex;
    justify-content: space-evenly;
}

.card > img {
    height: 85%;
}

.card > img, #menu-view > article {
    margin: auto;
}

#start {
    width: 100px;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

#menu-view > article {
    width: 80%;
    background-color: #6F77ED;
    border: 5pt solid black;
    border-radius: 0.35em;
}

#menu-view > article, #menu-view select, #start, #details button {
    font-size: 12pt;
}

#menu-view select, #start, #details button {
    background-color: white;
    border: 2pt solid black;
}

#menu-view > article, #details {
    color: white;
}

#details {
    background-color: black;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    font-size: 14pt;
}

#details button {
    color: black;
    padding: 8px;
}

#game {
    border-left: 5pt solid black;
    border-right: 5pt solid black;
    border-bottom: 5pt solid black;
    padding: 20px;
    flex-wrap: wrap;
}
