@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-color: #f2f2f2;
    margin: 0 auto;

}

#big_title{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-align: center;
    color: brown;
}

/*START NAV BAR*/
#nav_bar{
    display: table;
    margin: 0 auto;
    /*width: 70%*/
}

/*ul*/
.horizontal-list{
    background-color: #CC5A2A;
    text-align: center;
    padding:0;

}

.horizontal-list li{
    display: inline;
    text-decoration: none;
    padding: 40px;

}
/* nav links*/
.horizontal-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/*END NAV BAR*/
.content{

}
.large-img-container{

}
.large-img-container img{
    margin: 0 auto;
    display:block;
    width: 80%;
}
#contact-info {
    background-color: #CC5A2A;
    text-align: center;
    padding: 0;
    display: table;
    margin: 0 auto;
    width: 80%;
    /*width: 100%;*/
}


