@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-color: #f2f2f2;
    margin: 0 auto;

}


#big_title{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    color: brown;
    padding-top: 20px;
}

/*START NAV BAR*/
#sunflower-container{
    float:left;
    width: 100px;
    height: 75px;
    display:table;
    margin:0 auto;
    padding-right: 10px;
    padding-bottom: 20px;

}

.table{
    float:right
}

#nav_bar{
    display: table;
    margin: 0 auto;
    /*width: 70%*/
}



/*ul*/
.horizontal-list{
     background-color: #e96133;
     text-align: center;
     padding:0;

 }

.horizontal-list:hover{
    background-color: #672526;
    /*text-align: center;*/
    /*padding:0;*/

}

.horizontal-list li{
    display: inline;
    text-decoration: none;
    padding: 40px;

}
/* nav links*/
.horizontal-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}



/*#sunflower-container img{*/
/*    float: left;*/
/*    width: 100px;*/
/*    height: 75px;*/
/*}*/
/*END NAV BAR*/
.content{

}

#twitter{
    /*padding-left: 80%;*/
    float:right;
    width: 20px;
    height: 20px;
    padding-right:20px;
    padding-bottom: 10px;
    /*padding-top: 50px;*/
    /*padding-bottom: 10px;*/
}
#fb{
    /*padding-left: 80%;*/
    float:right;
    width: 20px;
    height: 20px;
    padding-right:10px;
    /*padding-top: 50px;*/
    padding-bottom: 10px;
}

.large-img-container{

}
.large-img-container img{
    margin: 0 auto;
    display:block;
    width: 80%;
}

#contact-info {
    background-color: #e96133;
    text-align: center;
    padding: 0;
    display: table;
    margin: 0 auto;
    width: 80%;
    /*width: 100%;*/
}

.non-link-info{
    color: white;
}

#subscribe{
    width: 80%;
    color: saddlebrown;
    text-align: right;
    margin: 0 auto;
}


#tm{
    text-align: center;
    color: saddlebrown;
}

#input {
    padding-right: 120px;
    text-align: right;
}
