.resume{
    width: 50%;
    height:1500px;  /* why does 100% not work with height but does with width?*/
    margin: auto; /*centers container*/
    border: 2px solid red;
    /*border-radius: 10px;*/
    /*padding: 10px;*/

}
/*container for lang section*/
#langs{
    width: 100%;
    height:400px;

}

#name{
    width: 100%;
    height:30px;
    text-align: center;
}

/*h2 tag for langs */
#lang-text-top{
    font-weight: bold;
    margin-left: 5px;

}


.lang-text{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.bar{
    margin-left: 30px;
    height:20px;
    margin-bottom: 5px;
}
/*#javascript{*/
/*    font-size: 20px;*/
/*    margin-top: 5px;*/

/*}*/
